body {
  overflow: hidden;
  margin: 0px;
  width: 100dvw;
  height: 100dvh;
  font-family: "Fira Mono", monospace;

  :where(h1, h2, h3, h4, h5, h6, p) {
    margin: 0px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  iframe {
    border: none;
  }
}
