@import url("./assets/css/root.css");

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  font-family: monospace;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

a {
  text-decoration: none;
}

footer {
  background: var(--black);
}
