.dot-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dot-nav-btn {
  aspect-ratio: 1/1;
  border: var(--border);
  border-radius: 50%;
  background: var(--background);
}
