#nav-main {
  position: fixed;
  top: 0px;
  right: 0px;
  flex-direction: column;
  width: 10vw;
  height: 100vh;

  .dot-nav-btn {
    width: var(--nav-btn);
  }
}

#anc-intro:hover {
  background: var(--red);
}

#anc-page-one:hover {
  background: var(--green);
}

#anc-page-two:hover {
  background: var(--blue);
}
