#page-two {
  background: var(--blue);
}

#page-two .base-grid-left {
  grid-column: 2 / 10;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#page-two .base-grid-left div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border: var(--border);
  background: var(--green);
}

#page-two .base-grid-left h2 {
  font-size: 6vh;
  font-weight: bolder;
  color: var(--background);
}

#page-two .base-grid-right {
  scroll-behavior: smooth;
  grid-column: 2 / 10;
  grid-row: 3 / 9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  background: var(--red);
}

#page-two .base-grid-right iframe {
  width: 100%;
  height: 100%;
}

#page-two .dot-nav {
  grid-column: 2 / 10;
  grid-row: 9 / 10;
}

#page-two .dot-nav-btn {
  width: var(--nav-btn);
}

#page-two .dot-nav-btn:active {
  background: var(--red);
}

#page-two footer {
  grid-column: 1 / 11;
  grid-row: 10 / 11;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: var(--border);
}

#page-two footer p, #page-two footer a {
  font-weight: bolder;
  color: var(--yellow);
}
