#page-one {
  background: var(--green);
  border-top: var(--border);
  border-bottom: var(--border);
}

#page-one .base-grid-left {
  grid-column: 2 / 6;
  background: var(--red);
}

#page-one .base-grid-right {
  grid-column: 7 / 10;
  background: var(--blue);
}
