:root {
  --black:      #282c34;
  --red:        #e05252;
  --green:      #43d08a;
  --yellow:     #ebde6b;
  --blue:       #528bff;
  --white:      #abb2bf;
  --background: #000000;

  --border: 2px solid var(--background);
  --text-border: 0px -4px 2px var(--background),
                 4px  0px 2px var(--background),
                 0px  4px 2px var(--background),
                -4px  0px 2px var(--background),
                -4px -4px 2px var(--background),
                -4px  4px 2px var(--background),
                 4px  4px 2px var(--background),
                 4px -4px 2px var(--background);
}
